{% extends 'hospital/homebase.html' %}

{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4" style="text-align:center;">Olá administrador</h1>
  <p class="lead">Bem vindo ao nosso hospital</p>
  <hr class="my-4">
 
  <p class="lead">
    <a class="btn btn-danger btn-lg" href="/adminsignup" role="button">Inscreva-se</a>
    <a class="btn btn-success btn-lg" href="/adminlogin" role="button">Login</a>
  </p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br><br>
<br>
</div>

{% endblock content %}
